
@charset "UTF-8";
/* Body */
.body {	
	border-radius: 10px;
	background: #FFFFFF;
	max-width: 750px;
	padding: 45px;
	margin: 60px;}
.bg {
background: rgb(255,163,82);
background: radial-gradient(circle, rgba(255,163,82,1) 0%, rgba(255,137,87,1) 57%, rgba(154,72,28,1) 100%);
}

.rcorners1 {
	border-radius: 10px;
	background: #007CBA;
	padding: 50px; 
	width: 80%;
	margin: 22px;
}
.rcorners2 {
	border-radius: 10px;
	background: #98dd8c;
	padding: 50px; 
	width: 80%;
	margin: 22px;
}
.linktext	{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #ffffff;
	text-decoration: none;
}
.bio	{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #333333;
	text-decoration: none;
	font-style: italic;
	padding: 10px;
	font-size: 1.2em;

}
 .img {border-radius: 1%;
}
