/* Body */
html {
  height:100%;
}
body{
	background-image: radial-gradient(circle, rgba(200,206,206,1) 0%, rgba(111,144,133,1) 73%, rgba(63,99,87,1))%;
	height:100vh;
	background-color: #3f6357;
 	background-repeat: no-repeat;
 
}
.form {	
	border-radius: 7px;
	background: #FFFFFF;
	max-width: 750px;
	padding: 5px;
	margin: 0px;
}
 .linktext1	{
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
 	color: #ffffff;
 	text-decoration: none;
 	border-radius: 10px;
 	background: #994390;
 	padding: 5%; 
 	width: 85%;
 	margin: 2%;
  	display: inline-block;
 }
 .linktext2	{
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; 	
	color: #ffffff;
 	text-decoration: none;
 	border-radius: 10px;
 	background: #006194;
 	padding: 5%; 
 	width: 85%;
 	margin: 2%;
 	display: inline-block;
 }
 .bio	{
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #5C5C61;
	text-decoration: none;
	padding: 1%;
	font-size: 1em;
	text-align: justify;
	width:94%;
}
 .img {border-radius: 5px;
	 width: 100%;
}
