/* Body */
.body {	
	border-radius: 7px;
	background: #FFFFFF;
	max-width: 750px;
	padding: 5px;
	margin: 0px;}
.bg {
 	background-color: #3f6357;
	background-image: linear-gradient(#7d9b91, #3f6357);
	height: 100%;
	background-repeat: no-repeat;
   	background-attachment: fixed;
 }
 .linktext1	{
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
 	color: #ffffff;
 	text-decoration: none;
 	border-radius: 10px;
 	background: #994390;
 	padding: 5%; 
 	width: 85%;
 	margin: 2%;
    display: inline-block;
 }
 .linktext2	{
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; 	color: #ffffff;
 	text-decoration: none;
 	border-radius: 10px;
 	background: #006194;
 	padding: 5%; 
 	width: 85%;
 	margin: 2%;
 	display: inline-block;
 }
 .linktext	{
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
 	color: #ffffff;
 	text-decoration: none;
}

 .bio	{
 	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #5C5C61;
	text-decoration: none;
	padding: 1%;
	font-size: 1em;
	text-align: justify;
	width:94%;
}
 .img {border-radius: 5px;
	 width: 100%;
}
